# 数据库文件
db.sqlite3

# Django 收集的静态文件（生产环境）
staticfiles/

# 临时处理数据文件夹
fileapp/uploads/

# python执行编译文件
fileapp/__pycache__/
fileapp/map_function/__pycache__/
fileapp/migrations/__pycache__/
myproject/__pycache__/